*{
    padding: 0;
    margin: 0;
}
.topbar{
    display: flex;
    background-color: grey;
    justify-content: space-between;
    width: 730px;
    height: 80px;
    margin-left: 300px;
}
h1{
    margin-left: 20px;
    margin-top: 14px;
}
#search{
    height: 20px;
    margin-top: 20px;
    width: 200px;
    border: 2px black solid;
}
#btn{
    height: 25px;
    width: 70px;
    margin-top: 20px;
    margin-right: 20px;
    background-color: blue;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(94, 78, 78);
}
.row{
    display: flex;
    flex-direction: column;
}

.box-1{
    width: 450px;
    height: 180px;
    margin-left: 300px;
    margin-top: 20px;
    display: flex;
    border: 2px black solid;
}
h2{
    margin-left: 20px;
    margin-top: 10px;
}
.noun{
    font-style: italic;
    margin-left: 30px;
    margin-bottom: 20px;
}
.p-text{
    margin-left: 20px;
    margin-top: 70px;
}
.like-btn{
    width: 80px;
    background-color: coral;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px 2px rgb(94, 78, 78);
}
.text-box{
    margin-left: 50px;
    margin-top: 70px;
}
.blue-text{
    text-decoration: underline;
    color: rgb(23, 19, 156);
}
.box-2{
    width: 450px;
    height: 180px;
    margin-left: 300px;
    margin-top: 20px;
    display: flex;
    border: 2px black solid;
}
.container{
    display:flex;
}

.box-3{
    width: 250px;
    height: 150px;
    border: 2px black solid;
    margin-top: 20px;
    margin-left: 20px;
}
#btn-3{
    width: 150px;
    height: 30px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: green;
    box-shadow: 2px 2px 2px 2px rgb(94, 78, 78);
}

